@model MVCBlog.Models.Comment

@{
    ViewBag.Title = "Изтрий коментар";
}

<h2>Изтрий</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие на статията
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>

        <dt>
            Автор на коментара
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            Коментар
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
    <hr/>

    <h5>Сигурни ли сте, че искате да изтриете този коментар?</h5>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">         
            @Html.ActionLink("Назад към списъка", "Index")
            <button type="submit" class="btn btn-default btn-xs">
                <img src="~/Content/images/Delete6.png" style="width: 87px; height: 28px; padding: 4px" alt="submit" />
            </button>
        </div>
    }
</div>
