@using PagedList.Mvc
@model PagedList.IPagedList<MVCBlog.Models.Comment>


@{
    ViewBag.Title = "Index";
}

<h2>Всички публикувани коменатари</h2>

<p>
    @Html.ActionLink("Напиши нов коментар", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Заглавие на статията
        </th>
        <th>
            Автор на коментара
        </th>
        <th>
            Съдържание на коментара
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Posts/Details/@item.PostId">@item.Post.Title</a>               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Изтрий", "Delete", new {id = item.Id}, new { @class = "glyphicon glyphicon-trash" })
                }
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))
