@using PagedList.Mvc
@model PagedList.IPagedList<MVCBlog.Models.Comment>


@{
    ViewBag.Title = "Коментари";
}

<h2>Всички публикувани коменатари</h2>

<p>
    @Html.ActionLink("Напиши нов коментар", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Заглавие на статията
        </th>
        <th>
            Автор на коментара
        </th>
        <th>
            Съдържание на коментара
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Posts/Details/@item.PostId">@item.Post.Title</a>               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    <button type="button" class="btn btn-default btn-xs">
                        <a href='@Url.Action("Delete", new {id = item.Id})'>
                            <img src='@Url.Content("~/Content/images/Delete6.png")' style="width: 68px; height: 24px; padding-bottom: 2px; padding-top: 2px; padding-left: 3px; padding-right: 3px" />
                        </a>
                    </button>
                }
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))
