@model MVCBlog.Models.Post

@{
    ViewBag.Title = "Изтрий статия";
}

<h2>Изтрий</h2>


<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Съдържание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Дата на публикуване
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    <hr/>
    <h5>Сигурни ли сте, че искате да изтриете тази статия?</h5>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">            
            @Html.ActionLink("Назад към списъка", "Index") 
            <button type="submit" class="btn btn-default btn-xs">
                <img src="~/Content/images/Delete6.png" style="width: 87px; height: 28px; padding: 4px" alt="submit" />
            </button>
        </div>
    }
</div>
