@using System.Collections
@using MVCBlog.Controllers
@using MVCBlog.Models
@model MVCBlog.Models.Post
    

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 id="detail-title">@Html.DisplayFor(model => model.Title)</h2>
    <hr/>
    @Html.DisplayFor(model => model.Body)
    <p></p>
    Публикувано на:
    @Html.DisplayFor(model => model.Date)
    <p></p>
</div>

<p>
    
    @Html.ActionLink("Назад към списъка", "Index")
</p>
 <p>
    @Html.ActionLink("Създай нов коментар", "Create", "Comments")
</p>

<p>
    Коментари:
</p>



