@model MVCBlog.Models.Post

@{
    ViewBag.Title = "Details";
}



<div>
    <h2 id="detail-title">@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    @Html.DisplayFor(model => model.Body)
    <p></p>
    Публикувано на:
    @Html.DisplayFor(model => model.Date)
    <p></p>
</div>
<p>

   

    @Html.ActionLink("Промени", "Edit", new {id = Model.Id})|


    @Html.ActionLink("Назад към списъка", "Index")
</p>
