@using PagedList.Mvc
@using System.Collections
@using MVCBlog.Controllers
@using MVCBlog.Models
@model MVCBlog.Models.Post

    

@{
    ViewBag.Title = "Детайли";
}

<div>
    <h2 id="detail-title">@Html.DisplayFor(model => model.Title)</h2>
    <hr/>
    @Html.DisplayFor(model => model.Body)
    <p></p>
    Публикувано на:
    @Html.DisplayFor(model => model.Date)
    <p></p>
</div>

<span class="comment-left"><h4>Коментари:</h4></span>
<span class="add-comment">@Html.ActionLink("Добави коментар", "Create", "Comments")</span>       

<div>
    @foreach (var item in Model.Comments)
    {
        <hr />
        <p>
            @Html.DisplayFor(modelItem => item.Author)
        </p>

        <p>
            @Html.DisplayFor(modelItem => item.Body)
        </p>
        
    }
</div>




