@using PagedList.Mvc
@using System.Collections
@using MVCBlog.Controllers
@using MVCBlog.Models
@model MVCBlog.Models.Post


    

@{
    ViewBag.Title = "Детайли";
}

<div>
    <h2 id="detail-title">@Html.DisplayFor(model => model.Title)</h2>
    <hr/>
    @Html.DisplayFor(model => model.Body)
    <p></p>
    Публикувано на:
    @Html.DisplayFor(model => model.Date)
    <p></p>
</div>

<span class="comment-left"><h4>Коментари:</h4></span>
<span class="add-comment"><button type="button" class="btn btn-default btn-xs">
    <a href='@Url.Action("Create", "Comments")'>
        <img src='@Url.Content("~/Content/images/Comment.png")' style="width: 85px; height: 26px; padding-top: 1px; padding-bottom: 1px" />
    </a>
</button></span>       

<div>
    @foreach (var item in Model.Comments)
    {
        <hr/>
        <p>
            @Html.DisplayFor(modelItem => item.Author)
        </p>

        <p>
            @Html.DisplayFor(modelItem => item.Body)
        </p>

    }
</div>




