@using System.Collections
@using MVCBlog.Controllers
@using MVCBlog.Models
@model MVCBlog.Models.Post
    

@{
    ViewBag.Title = "Детайли";
}

<div>
    <h2 id="detail-title">@Html.DisplayFor(model => model.Title)</h2>
    <hr/>
    @Html.DisplayFor(model => model.Body)
    <p></p>
    Публикувано на:
    @Html.DisplayFor(model => model.Date)
    <p></p>
</div>

<p>
    @Html.ActionLink("Добави коментар", "Create", "Comments")
</p>

<p>
    Коментари:

</p>
<div>
    @foreach (var item in Model.Comments)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Author)
        </p>

        <p>
            @Html.DisplayFor(modelItem => item.Body)
        </p>
        <hr/>
    }
</div>



