@using PagedList.Mvc
@model PagedList.IPagedList<MVCBlog.Models.Post>

@{
    ViewBag.Title = "Статии";
}

<h2>Всички статии</h2>

<p>
    @Html.ActionLink("Създай нова статия", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Заглавие
        </th>
        <th>
            Съдържание
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата
        </th>
        <th>
            Опции
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @MVCBlog.Classes.Utils.CutText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td style="width: 270px">
            @if (User.IsInRole("Administrators") || User.Identity.Name == item.Author.UserName)
            {
                <button type="button" class="btn btn-default btn-xs">
                    <a href='@Url.Action("Edit", new { id = item.Id })'>
                        <img src='@Url.Content("~/Content/images/Edit.png")' style="width: 70px; height: 24px; padding-top: 1px; padding-bottom: 1px" />
                    </a>
                </button>
@*                @Html.ActionLink("Промени", "Edit", new { id = item.Id }) @:|*@
            }

            <button type="button" class="btn btn-default btn-xs">
                <a href='@Url.Action("Details", new { id = item.Id })'>
                    <img src='@Url.Content("~/Content/images/Detail.png")' style="width: 70px; height: 24px; padding-top: 1px; padding-bottom: 1px" />
                </a>
            </button>
@*            @Html.ActionLink("Детайли", "Details", new { id = item.Id }) *@
            @if (User.IsInRole("Administrators") || User.Identity.Name == item.Author.UserName)
            {
                <button type="button" class="btn btn-default btn-xs">
                    <a href='@Url.Action("Delete", new {id = item.Id})'>
                        <img src='@Url.Content("~/Content/images/Delete6.png")' style="width: 68px; height: 24px; padding-bottom: 2px; padding-top: 2px; padding-left: 3px; padding-right: 3px" />
                    </a>
                </button>
@*                @:| @Html.ActionLink("Изтрий", "Delete", new {id = item.Id})*@
            }
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))
